body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
    line-height: 1.5;
    background-color: #ffffff;
}

p {
    font-size: 16px;
}

blockquote {
    background-color: #f4f4f4;
    border-left: 5px solid #428bca;
}

pre {
    font-size: 13.5px;
    background-color: #f4f4f4;
    overflow: auto;
    border-radius: 0px;
    border: 1px solid #ffffff;
}

code {
    min-width: 750px;
    white-space: pre;
    display: block;
    word-wrap: normal;
    overflow-x: auto;
}

pre>code>span {
    
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Microsoft YaHei UI", "Microsoft YaHei", "Arial", "Verdana", "Tahoma";
    font-weight: normal;
    color: #333;
}

.inset {
    padding: 15px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.date {
    font-size: 15px;
    color: #999;
    padding-top: 10px;
}
.user-info {
    color: #767676;
    font-size: 12px;
    padding-left: 3px;
}
.right-divider {
    height: 30px;
}
.right-title {
}
.right-tags {
    padding-top: 20px;
    padding-left: 18px;
}
.right-button {
    padding-bottom: 20px;
    padding-left: 18px;
}
.right-news-title{
    margin-bottom: 20px;
}
.right-tags>ul>li{
    font-size: 12.5px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: "Microsoft YaHei UI","Microsoft YaHei","Arial","Verdana","Tahoma";
}

.right-tags-title{
    margin-top: 20px;
}
.pager{
    text-align: center;
    margin-bottom: 65px;
}
.pager > li > a{
    width: 100px;
    text-align: center;
}
html,body {
    margin: 0;
    padding:0;
    height: 100%;
}
.user-data {
    margin: 18px 0px 18px 18px;
}
.user-icon {
    height: 60px; width: 60px;
}

header{
    color: #ffffff;
    background-color: #428bca;
    margin-bottom: 40px;
}

.navbar{
    margin-bottom: 0px;
}

.navbar-nav>li>a{
    color: #FFFFFF;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-active{
    background-color: #357ebd;
}

.blog-group {
    min-height:100%;
    position: relative;
}
.main-content {
    padding-bottom: 80px;
}
.main-content-left {
    margin-top: 30px;
}

.main-content-right {
    margin-top: 30px;
}

.content {
    padding-bottom: 20px;
}
.back-up {
    display: none;
}
.footer {
    position: absolute;
	bottom: 0;
	text-align: center;
    padding: 30px;
    width: 100%;
    height: 80px;
    color: #767676;
    border-top: 1px solid #e5e5e5;
}
.footer-myself {
    font-size: 11px;
    text-align: left;
}
.footer-record {
    font-size: 11px;
    text-align: left;
    color: #767676;
}


.write-title {
    padding: 35px;
}
.write-textarea {
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
}
.write-input {
    text-align: right;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#request-text {
    height: 34px;
    line-height: 34px;
}
.allblog_title {
    font-size: 19px;
}
#scroll-up {
    background-color: #dfdfdf;
    color: #a0a0a0;
    width: 48px;
    height: 48px;
    left: 50%;
    bottom: 100px;
    margin-left: 320px;
    text-align: center;
    position: fixed;
    opacity: 0.7;
}
#scroll-up>div{
    margin-top: 10px;
    margin-left: 2px;
    height: 28px;
    text-align: center;
}

#scroll-up>div>span{
    font-size: 26px;
}

#scroll-up:focus, #scroll-up:hover{
    background-color: #bfbfbf;
}
.search-input {
    width: 100px;
}

.panel-collapse.collapse.in>li {
    font-size: 12.5px;
    font-family: "Microsoft YaHei UI","Microsoft YaHei","Arial","Verdana","Tahoma";
    margin-top: 8px;
    margin-bottom: 8px;
}

