<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#428bca">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% load staticfiles %}
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="blog-group">
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    </div>
</body>
<link href='{% static "css/avatar.jpg" %}' rel="icon">
<link href='{% static "css/manni.min.css" %}' rel="stylesheet">
<link href='{% static "css/myblog.css" %}' rel="stylesheet">
<link href='{% static "css/bootstrap-glyphicons.css" %}'  rel="stylesheet">
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/bootstrap.min.js" %}'></script>
{% block js-lib %}{% endblock %}
</html>